*{
	font-weight: 400;
	font-size: 2vh;


}
@font-face {
    font-family: Inconsolata; /* Гарнитура шрифта */
    src: url(inconsolata.ttf); /* Путь к файлу со шрифтом */
   }
body{
	color: #777;
	border: 0;
	margin: 0;
	padding: 2vh;
	height: 96vh;
	background-image: linear-gradient(
		to  right bottom,
		rgba(17, 17, 17, .4),
		rgba(17, 17,17,0.9)),
	url(images/fondo.jpg);
	background-size: cover;
	position: relative;
}
p{
	text-align:center;
}
#menu{
	height:10vh;
	width:97vw;
}
.menu-button{
	width:16vh;
	height:7vh;
	font-size: 3vh;
	margin-left:2vw;
	color: black;	
	background-color: rgba(219, 130, 24, .7);
	border-radius: 1.5vw ;
	border: .2vmin solid black;
	outline:none;
}
.menu-button:hover{
	background-color: rgba(219, 130, 24, .9);;
	transform: scale(1.1);
	transform: translateY(-1px);
	box-shadow:  0 10px 20px black;
	border-color: rgba(210, 180, 140, 1);
}
.menu-button:active{
	transform: translateY(-3px);
	box-shadow:  0 5px 10px black; 
}

.codeArea{
	position: absolute;
	margin-left:.25%; 
	width: 55vw;
	height: 60vh;  
	font-size: 2.5vh;
	float: left;
	overflow: hidden;
	/* color:  rgba(255, 255, 255, .9); */
}
.main-box{
	border:solid 1px #DB8218;
	padding: 2vmin;
	background-color: rgba(17, 17, 17, 0.8);
	border-radius: 1.3vw;
	font-family: 'Inconsolata', arial;
	font-size: 3vh;
	overflow: hidden;
}
#codeArea::placeholder{
	font-size: 3vh;
	font-family: 'Inconsolata', arial;
}
#console{
	float: right; 
	/* margin-left */
	overflow-y: auto;
	width: 30vw;
	height: 70vh;
}
.console-result{
	display: block;
	font-family: 'Inconsolata', arial;
	text-align: center;
	width: 100%;
	border: none;
	border-bottom:  .2vmin solid #777;
}
.lab-box{
	display: block;
}
main{
	position: relative;
	height: 80vh;
	width: 95vw;
	display: inherit;
}
footer{
	position: relative;
	height: 40vh;
	display: none;

}
button.accordion{
	background-color:  rgba(219, 130, 24, .9);
	color:#444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	color: white;
	text-align: left;
	border:none;
	outline: none;
	transition: 0,4s;
}
button.accordion.active,	
button.accordion:hover{
	background-color: rgba(219, 130, 24, .7);
	border: .1vh solid black;

}
div.panel{
	padding: 0 18px;
	background-color: #BABABA ;
	display: none;
	position: relative;

}
div.panel.show{
	display: block;
	position: relative;
}

div.panel.show{
	display: block;
}
footer.show{
	display: block;
}
.lab-content{
	position: relative;
	display: inline-block;
	left: 50%;
	color: black;
	transform: translateX(-50%); 
} 
.dlab1{
	display: inline-block;
	padding: 0;
	margin: 0;
}

p.lab1{
	
	padding: 0;
	margin: 0;
    border:.1vh solid black;
    vertical-align: middle;
    padding: 2px;
    text-align: center;
    font-size:16px;
    display:table-cell;
    width:  10vw;
    height: 10vh;

}
p#lab1{
	position: relative;
	/* left: 25%;
	transform: translate(-50%,1%); */
	
}

#adSet{
	text-decoration:none;
	color: #DB8218;
	display: inline-block;
	position: relative;
	height:7vh;
	font-size: 5vh;
	left: 50%;
	transform: translate(-50%);
}
.kwrd{
	font-weight:bold;
	color:#DB8218; 
}/* Ключевые слова полужирные */